name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ vars.DOCKER_HUB_USER }}/ish

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract version from tag
        id: vars
        run: |
          # GITHUB_REF_NAME is e.g. "v1.2.3"
          RAW="${GITHUB_REF_NAME#v}"
          MAJOR=$(echo "$RAW" | cut -d. -f1)
          MINOR=$(echo "$RAW" | cut -d. -f1-2)

          echo "version=$RAW" >> $GITHUB_OUTPUT
          echo "major=$MAJOR" >> $GITHUB_OUTPUT
          echo "minor=$MINOR" >> $GITHUB_OUTPUT

      - name: Build and push (release)
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.version }}
            ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.minor }}
            ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.major }}
            ${{ env.IMAGE_NAME }}:latest
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:edge
          cache-to: type=inline
